body{
  background-color: #e9896a;
  font-family : Comic sans ms;
}

img
{
  position: absolute;
   WIDTH:570px;
   height: 500px;
   right:680px;
   border-radius: 10px;


}
#t2
{
  background-color:#ffff;
   height: 500px;
}
h4
{
  margin-right: 30px;
}
a {
  margin-left: 200px;
  color: #437A16;
}
.bord
{
  border: 1px dashed lightgrey;
}
