body{
  background-color: #e9896a;
  font-family : Comic sans ms;
}

img
{
  position: absolute;
   WIDTH:570px;
   height:500px;

}
#t2
{
  background-color:#ffff;
   height: 500px;
}
h4
{
  margin-right: 30px;
}

.bord
{
  border: 1px dashed lightgrey;

}
a{
  position: absolute;
  margin-left: 20px;
  line-height: 2px;
}
