body
{
  background-color: #faf2da;
}

#en-tête
{

  background-color: #ca8a8b;
  height: 200px;
  border: solid blue 2px;
  margin-bottom:  3px;

  align-items: center;
  justify-content: center;
}
#T0
{

  background-color: #e7d4b5;
  border: solid blue 2px;
  height: 100px;
  margin-top: 10px;

}
#T1
{
  display: inline-block;
  background-color: #8e9775;
  width: 300px;
  height : 300px;
  border: solid blue 2px;
  margin-bottom: 2px;
  margin-top: 10px;

}

#T2
{
  display: inline-block;
  background-color: #766161;
  width: 300px;
  height : 300px;
  border: solid blue 2px;
  margin-left: 35px;

  align-items: center;
  justify-content: center;

}
#T3
{
  display: inline-block;
  background-color: #87a7b3;
  width: 300px;
  height : 300px;
  border: solid blue 2px;
  margin-left: 35px;

  align-items: center;
  justify-content: center;

}
#T4
{
  display: inline-block;
  background-color: #cdc7be;
  width: 300px;
  height : 300px;
  border: solid blue 2px;
  margin-left: 35px;
  align-items: center;
  justify-content: center;
}
#T5
{
  display: inline-block;
  background-color: #e1f1dd;
  width: 642px;
  height : 300px;
  border: solid blue 2px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}
#T6
{
  display: inline-block;
  background-color: #aad8d3;
  width: 642px;
  height : 300px;
  border: solid blue 2px;
  margin-left: 35px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}
#Pied
{
  display: inline-block;
  background-color: blue;
  border: solid blue 2px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}
}
@media only screen and (min-width: 600px) and (max-width : 800px){

  #en-tête
  {
    background-color: #ca8a8b;
      width: 100%;
    height:50px;
    border: solid blue 2px;
    margin-bottom:  3px;
    align-items: center;
    justify-content: center;

  }
  #T0
  {
    background-color: #e7d4b5;
    border: solid blue 2px;
    width: 100%;
  height:50px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;

  }
  #T1
  {
      display: inline-block;
      width: 30%;
    height:50px;
      border: solid dark 2px;
      align-items: center;
      justify-content: center;


  }
  #T2
  {

  width: 30%;
    height:50px;
    border: solid blue 2px;
    margin-left: 0px;
    align-items: center;
    justify-content: center;


  }
  #T3
  {

    width: 30%;
  height:50px;
    border: solid blue 2px;
    margin-left: 0px;
    align-items: center;
    justify-content: center;


  }
  #T4
  {

    width: 30%;
  height:50px;
    border: solid blue 2px;
    margin-top: 10px;
  margin-left: 0px;
  align-items: center;
  justify-content: center;

  }
  #T5
  {

    background-color: #e1f1dd;
    width: 30%;
  height:50px;
    border: solid blue 2px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;

  }
  #T6
  {

    background-color: #aad8d3;
    width: 100%;
  height:50px;
    border: solid blue 2px;
    margin-left: 0px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;

  }
  #Pied
  {
    background-color: blue;
    border: solid blue 2px;
    margin-top: 10px;
    width: 100%;
  height:50px;
  align-items: center;
  justify-content: center;

  }

}

@media only screen and (max-width: 600px)
{

  #en-tête
  {
    background-color: #ca8a8b;
      width: 100%;
    height:50px;
    border: solid blue 2px;
    margin-bottom:  3px;
    align-items: center;
    justify-content: center;

  }
  #T0
  {
    background-color: #e7d4b5;
    border: solid blue 2px;
    width: 100%;
  height:50px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;

  }
  #T1
  {
      display: inline-block;
      width: 100%;
    height:50px;
      border: solid dark 2px;
      align-items: center;
      justify-content: center;


  }
  #T2
  {

    width: 100%;
    height:50px;
    border: solid blue 2px;
    margin-left: 0px;
    align-items: center;
    justify-content: center;


  }
  #T3
  {

    width: 100%;
  height:50px;
    border: solid blue 2px;
    margin-left: 0px;
    align-items: center;
    justify-content: center;


  }
  #T4
  {

    width: 100%;
  height:50px;
    border: solid blue 2px;
    margin-top: 10px;
  margin-left: 0px;
  align-items: center;
  justify-content: center;

  }
  #T5
  {

    background-color: #e1f1dd;
    width: 100%;
  height:50px;
    border: solid blue 2px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;

  }
  #T6
  {

    background-color: #aad8d3;
    width: 100%;
  height:50px;
    border: solid blue 2px;
    margin-left: 0px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;

  }
  #Pied
  {
    background-color: blue;
    border: solid blue 2px;
    margin-top: 10px;
    width: 100%;
  height:50px;
  align-items: center;
  justify-content: center;

  }

  }
